In [1]:
import pandas as pd
base = pd.read_csv('census.csv')

In [2]:
base.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
base['income'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [4]:
base.shape

(32561, 15)

In [6]:
x = base.iloc[:, 0:14].values
x

array([[39, ' State-gov', 77516, ..., 0, 40, ' United-States'],
       [50, ' Self-emp-not-inc', 83311, ..., 0, 13, ' United-States'],
       [38, ' Private', 215646, ..., 0, 40, ' United-States'],
       ...,
       [58, ' Private', 151910, ..., 0, 40, ' United-States'],
       [22, ' Private', 201490, ..., 0, 20, ' United-States'],
       [52, ' Self-emp-inc', 287927, ..., 0, 40, ' United-States']],
      dtype=object)

In [8]:
y = base.iloc[:, 14].values
y

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
label_enconder = LabelEncoder()

In [12]:
x[:, 1] = label_enconder.fit_transform(x[:, 1])

In [15]:
x[:, 3] = label_enconder.fit_transform(x[:, 3])

In [16]:
x[:, 5] = label_enconder.fit_transform(x[:, 5])
x[:, 6] = label_enconder.fit_transform(x[:, 6])
x[:, 7] = label_enconder.fit_transform(x[:, 7])
x[:, 8] = label_enconder.fit_transform(x[:, 8])
x[:, 9] = label_enconder.fit_transform(x[:, 9])
x[:, 13] = label_enconder.fit_transform(x[:, 13])

In [17]:
x[0]

array([39, 7, 77516, 9, 13, 4, 1, 1, 4, 1, 2174, 0, 40, 39], dtype=object)

In [20]:
from sklearn.preprocessing import StandardScaler

In [28]:
scaler_x = StandardScaler()
scaler_y = StandardScaler()

In [30]:
X = scaler_x.fit_transform(x)

C:\Users\vitor\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\vitor\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [31]:
0pfrom sklearn.model_selection import train_test_split
x_treinamento, x_teste, y_treinamento, y_teste = train_test_split(X, y, test_size=0.3)

In [39]:
from sklearn.linear_model import LogisticRegression
classificador = LogisticRegression(max_iter=10000)
classificador.fit(x_treinamento, y_treinamento)

C:\Users\vitor\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=10000, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [40]:
previsoes = classificador.predict(x_teste)

In [41]:
previsoes

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype=object)

In [42]:
y_teste

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' <=50K'],
      dtype=object)

In [43]:
from sklearn.metrics import accuracy_score
taxa_acerto = accuracy_score(y_teste, previsoes)

In [44]:
taxa_acerto

0.8261848705087522